<div class="small-12 medium-8 column">
  <%= back_link_to %>

<<<<<<< HEAD
  <h1><%= t('management.user_invites.create.title') %></h1>

  <div class="callout success">
    <%= t('management.user_invites.create.success_html', count: @emails.count) %>
=======
  <h2><%= t("management.user_invites.create.title") %></h2>

  <div class="callout success">
    <%= t("management.user_invites.create.success_html", count: @emails.count) %>
>>>>>>> v0.16
  </div>
</div>
